.todo {
  background: #f2f2f2;
  box-shadow: 0 4px 4px 0 #c8c8c8;
  border-radius: 5px 5px 0 0;

  margin: 22px 0 24px 0;
  .brief {
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding: 24px 32px;
    &.completed {
      background: #fff2dc;
      .name {
        text-decoration: line-through;
      }
    }
  }
  .left {
    display: flex;
  }
  .right {
    display: flex;
  }
  .name {
    font-family: Roboto-Medium;
    font-size: 24px;
    color: #000000;
  }

  .control-btns {
    display: flex;
    flex: 1;
    > div {
      display: flex;
      flex: 1;
      height: 60px;
      align-items: center;
      justify-content: center;
      font-size: 24px;
    }
    > div:first-child {
      color: red;
      background: white;
    }
    > div:last-child {
      color: white;
      background: #4a90e2;
    }
  }
}
