.todo {
  background: #f2f2f2;
  box-shadow: 0 4px 4px 0 #c8c8c8;
  border-radius: 5px;

  margin: 0 0 8px 0;
  .brief {
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding: 24px 32px;
    &.completed {
      background: #fff2dc;
      .name {
        text-decoration: line-through;
      }
    }
  }
  .left {
    display: flex;
    align-items: center;
  }
  .right {
    display: flex;
    align-items: center;
  }
  .name {
    font-family: Roboto-Medium;
    font-size: 24px;
    color: #000000;
    margin-left: 16px;
    input {
      font-size: 24px;
    }
  }
  input[type="checkbox"] {
    transform: scale(1.5);
    // width: 34px;
    // height: 34px;
    // margin: 0;
    cursor: pointer;
    // -webkit-appearance: none;
    // appearance: none;
  }
  i.far.fa-star {
    margin-right: 32px;
  }
  i.fas.fa-star {
    color: #f5a623;
    margin-right: 32px;
  }

  i.fas.fa-pen.blue {
    color: #4a90e2;
  }

  .edit-panel {
    font-family: Roboto-Medium;
    font-size: 20px;
    border-top: 3px solid #c8c8c8;
    color: #000000;
    padding: 24px 64px;
    i {
      margin-right: 10px;
      width: 24px;
    }
    textarea {
      width: 100%;
      height: 120px;
      font-size: 16px;
      resize: none;
    }
  }

  .control-btns {
    display: flex;
    flex: 1;
    > div {
      display: flex;
      flex: 1;
      height: 60px;
      align-items: center;
      justify-content: center;
      font-size: 24px;
      border-radius: 0 0 5px 5px;
    }
    > div:first-child {
      color: red;
      background: white;
    }
    > div:last-child {
      color: white;
      background: #4a90e2;
    }
  }
}
